body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
.column_L {
    float: left;
    width: 15%;
    padding: 15px;
    background-color: #0EF0A9;
}
.column_R {
    float: right;
    width: 15%;
    padding: 15px;
    text-align: right;
    background-color: #0EF0A9;
    height: 100vh;
    bottom: 0px;
}

.mig{
    grid-area: header;
    text-align: center;
    background-color: rgb(26, 181, 228);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(26, 181, 228);
}
li {
    float: left;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.active{
    background-color: black;
    color: white;
}
li a:hover {
    background-color: white;
}
@media only screen and (max-width: 650px){
    ul {
        align-content: center;
    }
    .column_L {
        float: left;
        width: 49%;
        padding: 15px;
        background-color: #0EF0A9;
    }
    .column_R {
        float: right;
        width: 49%;
        padding: 15px;
        text-align: right;
        background-color: #0EF0A9;
        height: 100%;
        bottom: 0px;
    }
    
    .mig{
        grid-area: header;
        text-align: center;
        background-color: rgb(26, 181, 228);
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(26, 181, 228);
    }
    li {
        float: left;
    }
    li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    .active{
        background-color: black;
        color: white;
    }
    li a:hover {
        background-color: white;
    }
}