*{
    margin: 0;
    padding: 0;
}

.grid-container{
    background-color: #297280;
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.column_l {
    background-color: #b6f3ff;
    grid-column: 1 / 1;
    width: 100%;
}
.tittle_l{
    text-align: center;
}

.column_m {
    grid-column: 2 / 4;
    text-align: center;
}

.column_r {
    text-align: center;
    background-color: #b6f3ff;
    width: 100%;
    grid-column: 4 / 5;
}

.maintxt{
    text-align: center;
    background-color: #b6f3ff;
    grid-column: 2 / 4;
}

.mig{
    grid-area: header;
    text-align: center;
    background-color: #265080;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #265080;
}
.först{
    float: left;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
}
.active{
    background-color: black;
    color: white;
}
li a:hover {
    background-color: white;
}
.ntilogga{
    float: right;
    height: auto;
}
.ntilogga2{
    height: 13px;
    width: auto;
    padding: 0px;

}
/*mobil*/
@media only screen and (max-width: 736px){
    .grid-container{
        background-color: #297280;
        height: 100%;
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    .body1{
        height: 100vh;
        padding-top: 0px;
    }
    .bild_på_Matheo{
        align-self: center;
        display: block;
        margin: auto;
        position: relative;
        height: 350px;
        width: 350px;
        grid-column: 2 / 4;
    }
    .column_l {
        display: none;
        visibility: hidden;
    }
    .column_m {
        grid-column: 1 / 5;
        text-align: center;
    }
    .column_r {
        display: none;
        visibility: hidden;
    
    }
    .mig{
        grid-area: header;
        text-align: center;
        background-color: #265080;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #265080;
    }
    li {
        float: left;
    }
    li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    .active{
        background-color: black;
        color: white;
    }
    li a:hover {
        background-color: white;
    }
}

/* Härifrån är det css för om mig*/

table, th, td {
    border: 2px solid purple;
}
table {
    margin: auto;
}
td, tr {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


.body1 {
    background-color: white; 
}
td {
    background-color: rgb(0, 255, 157);
}
.titel {
    background-color: rgb(108, 173, 199);
    text-align: center;
}
.brödtext1 {
    color: white;
    text-align: center;
}
.brödtext2{
    color: white;
}
.titel2{
    padding-left: 10px;
    position: relative;
    top: 55px;
    right: 15px;

}
ol{
    padding-left: 30px;
    position: absolute;
    top: auto;
    right: auto;
    border: 3px solid red;
    width: auto;
    height: auto;
}
li{
    padding-top: 2px;
    padding-left: 0px;
}
.bild_på_Matheo{
    align-self: center;
    display: block;
    margin: auto;
    position: relative;
    height: 350px;
    width: 350px;
}

/*Härifrån börjar css för God_Jul sida*/